In [ ]:
Exercise 2-Create a markdown cell with the title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction.

In this notebbok, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languagues that Data Scientists use are: 
1. Python 
2. R
3. SQL

In [ ]:
Insert a markdown cell to list Objectives.

**Objectives:**

- List popular languages for Data Science
- Describe commonly used libraries in Data Science
- Identify development environment open source tools for Data Science
- Explain the basics of evaluating arithmetic expressions in Python
- Understand data science tools and ecosystem

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include: 
1. Numpy
2. Pandas 
3. Scikit-learn
4. TensorFlow

In [ ]:
Create a markdown cell with a table of Data Science tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [ ]:
Create a markdown cell introducing arithmetic expression examples.

### Below are few examples of evaluating arithmetic expressions in Python

In [ ]:
 Create a code cell to multiply and add numbers

In [1]:
(3*4)+5

17

In [ ]:
 Create a code cell to multiply and add numbers

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [ ]:
Create a markdown cell to indicate the Authorâ€™s name.

## Author 
Tania Amaral